.about {
  width: 100%;
  background-color: var(--lightpinkcolor);
  margin: 0;
  padding: 0 220px;

  &__container {
    margin: 100px 0;
    border: dotted var(--whitecolor);
    border-radius: 3%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

    title {
      display: block;
      h1 {
        font-size: 50px;
        line-height: 50px;
        text-transform: uppercase;
        color: var(--violetcolor);
        margin: 0;
      }
    }

    main {
      p {
        font-size: 15px;
        line-height: 30px;
        letter-spacing: 1px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .about  {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 600px) {
  .about  {
    padding: 0 50px;
  }
}