.experience {
  z-index: 5;
  width: 100%;
  background-color: var(--lightpinkcolor);
  margin: 0;
  padding: 100px 220px 40px 220px;

  &__header {
    h1 {
      font-size: 50px;
      line-height: 50px;
      text-transform: uppercase;
      color: var(--violetcolor);
      margin: 0;
    }
  }

  &__main {
    width: 100%;

    &__container {
      border: dotted var(--whitecolor);
      border-radius: 3%;
      padding: 10px;
      padding-left: 20px;

      &__title {
        &__name {
          text-decoration: underline;
          font-weight: 600;
          margin: 5px;
        }
      }

      &__details {
        &__item {
          summary~* {
            animation: sweep 1s;
          }

          summary {
            display: list-item;
            width: fit-content;
            height: auto;
            padding: 5px;
            z-index: 7;
            background: transparent;
            transition: all 0.3s ease 0s;
            position: relative;
            list-style-type: none;
          }

          summary::after {
            z-index: -6;
            content: "";
            position: absolute;
            height: 0%;
            width: 100%;
            bottom: -1px;
            left: 0px;
            opacity: 1;
            transition: all 0.3s ease 0s;
            background: linear-gradient(90deg,
                var(--pinkgradientcolor) 0%,
                var(--brightpinkcolor) 35%,
                var(--absolutewhitecolor) 100%);
          }

          summary::before {
            content: "✽";
            margin-right: 5px;
            color: var(--violetcolor);
          }

          summary:hover {
            color: var(--violetcolor);
          }

          summary:hover:after {
            height: 100%;
            width: 100%;
            opacity: 1;
          }

          p {
            padding: 10px;
            width: 100%;
            height: auto;
          }

          ul {
            list-style-type: none;
            li {
              padding-left: 5px;
              list-style-type: none;
            }

            li::before {
              content: "✽";
              margin-right: 5px;
              color: var(--violetcolor);
            }
          }
        }
      }
    }
  }
}

.details summary~* {
  animation: sweep 1s;
}

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes unsweep {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}