.hobbies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  z-index: 100;
  background-color: #ffbbbb;
  &__btn {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    button {
      text-transform: uppercase;
      max-width: 100%;
      margin-left: 5px;
      transition:all 1s;
    }

    &__small{
      font-size: 15px;
    color: #cc7cf3;
    background-color: azure;
    border: 0.1rem solid #cc7cf3;
    height: 50px;
    width: 100px;
    }
    &__big{
      font-size: 50px;
      color: azure;
      background-color: #cc7cf3;
      border: 0.1rem solid azure;
      height: 200px;
      width: 400px;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    position: relative;
    &__drawing {
      width: 33%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      color: azure;

      button {
        color: azure;
        background-color: #cc7cf3;
        border: 0.1rem solid azure;
        height: 30px;
        width: 60px;
        max-width: 100%;
        margin-left: 5px;
      }
      div {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        img {
          width: 300px;
          height: 300px;
          overflow: hidden;
          animation: appear 2s;
        }
      }
    }

    &__music {
      width: 33%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      color: azure;

      figure {
        margin: 0;
        figcaption {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          color: azure;
          button {
            color: azure;
            background-color: #cc7cf3;
            border: 0.1rem solid azure;
            height: 30px;
            width: 60px;
            max-width: 100%;
            margin-left: 5px;
          }
          audio {
            display: flex;
            flex-basis: 100%;
            justify-content: center;
            animation: appear 2s;
          }
        }
      }
    }

    &__character {
      width: 33%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      color: azure;

      button {
        color: azure;
        background-color: #cc7cf3;
        border: 0.1rem solid azure;
        height: 30px;
        width: 60px;
        max-width: 100%;
        margin-left: 5px;
      }
      div {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        img {
          width: 300px;
          height: 300px;
          overflow: hidden;
          animation: appear 2s;
        }
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}