.hobbies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  z-index: 100;
  background-color: var(--peachcolor);
  &__btn {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
    button {
      text-transform: uppercase;
      max-width: 100%;
      margin-left: 5px;
      transition:all 1s;
    }

    &__small{
      font-size: 15px;
    color: var(--violetcolor);
    background-color: var(--whitecolor);
    border: 0.1rem solid var(--violetcolor);
    height: 50px;
    width: 100px;
    }
    &__big{
      font-size: 50px;
      color: var(--whitecolor);
      background-color: var(--violetcolor);
      border: 0.1rem solid var(--whitecolor);
      height: 200px;
      width: 400px;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    position: relative;
    margin-bottom: 30px;
    // &__drawing {
    //   width: 33%;
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: center;
    //   align-items: center;
    //   flex-wrap: wrap;
    //   color: var(--whitecolor);

      
    //   div {
    //     display: flex;
    //     flex-basis: 100%;
    //     justify-content: center;
    //     img {
    //       width: 300px;
    //       height: 300px;
    //       overflow: hidden;
    //       animation: appear 2s;
    //     }
    //   }
    // }

    // &__music {
    //   width: 33%;
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: center;
    //   align-items: center;
    //   flex-wrap: wrap;
    //   color: var(--whitecolor);

    //   figure {
    //     margin: 0;
    //     figcaption {
    //       display: flex;
    //       flex-direction: row;
    //       justify-content: center;
    //       align-items: center;
    //       flex-wrap: wrap;
    //       color: var(--whitecolor);

    //       audio {
    //         display: flex;
    //         flex-basis: 100%;
    //         justify-content: center;
    //         animation: appear 2s;
    //       }
    //     }
    //   }
    // }

    // &__character {
    //   width: 33%;
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: center;
    //   align-items: center;
    //   flex-wrap: wrap;
    //   color: var(--whitecolor);

    //   div {
    //     display: flex;
    //     flex-basis: 100%;
    //     justify-content: center;
    //     img {
    //       width: 300px;
    //       height: 300px;
    //       overflow: hidden;
    //       animation: appear 2s;
    //     }
    //   }
    // }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}