.hobbies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  z-index: 100;
  background-color: var(--peachcolor);
  &__btn {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
    button {
      text-transform: uppercase;
      max-width: 100%;
      margin-left: 5px;
      transition:all 1s;
    }

    &__small{
      font-size: 15px;
    color: var(--violetcolor);
    background-color: var(--whitecolor);
    border: 0.1rem solid var(--violetcolor);
    height: 50px;
    width: 100px;
    }
    &__big{
      font-size: 50px;
      color: var(--whitecolor);
      background-color: var(--violetcolor);
      border: 0.1rem solid var(--whitecolor);
      height: 200px;
      width: 40%
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    position: relative;
    margin-bottom: 30px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .hobbies{
    &__btn {

      &__big{
        font-size: xx-large;
        height: 100px;
      width: 70%
      }
    }
  }
}