.links {
  background: linear-gradient(0deg,
      var(--yellowcolor) 0%,
      var(--absolutewhitecolor) 100%);
  width: 100%;
  height: fit-content;
  z-index: 6;
  padding-bottom: 10px;

  &__container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding: 0 220px;
    margin: 70px 0;
    justify-content: space-between;

    &__left {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 60%;
      max-width: 100%;

      h4 {
        font-size: 50px;
        line-height: 50px;
        margin-top: 0;
        margin-bottom: 30px;
      }
    }

    &__right {
      ul {
        list-style-type: none;

        li {
          padding-left: 5px;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 18px;

          a {
            color: var(--blackcolor);
            z-index: 7;
            background: transparent;
            transition: all 0.3s ease 0s;
            position: relative;
          }

          a::after {
            z-index: -6;
            content: "";
            position: absolute;
            height: 0%;
            width: 100%;
            bottom: -1px;
            left: 0px;
            opacity: 1;
            transition: all 0.3s ease 0s;
            background: linear-gradient(90deg,
                var(--pinkgradientcolor) 0%,
                var(--brightpinkcolor) 35%,
                var(--absolutewhitecolor) 100%);
          }

          a:hover {
            color: var(--violetcolor);
          }

          a:hover:after {
            height: 100%;
            width: 100%;
            opacity: 1;
          }
        }

        li::before {
          content: "✽";
          margin-right: 5px;
          color: var(--violetcolor);
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .links {

    &__container {
      padding: 0 100px;

      &__left {
        h4 {
          font-size: xx-large;
          text-align: center;
        }
      }
    }


  }
}

@media only screen and (max-width: 600px) {
  .links {

    &__container {
      padding: 0;
      // margin: 70px 5px;
      justify-content: center;

      &__left {
        width: 40%;
        h4 {
          line-height: 30px;
          font-size:  large;
          text-align: center;
        }
      }

      &__right{
        ul{
          li{
            padding-left: 0px;
            font-size: medium;
          }
        }
      }
    }


  }
}