.links {
  background: linear-gradient(
    0deg,
    rgba(244, 220, 128, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 100%;
  height: fit-content;
  z-index: 6;
  &__container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding: 0 220px;
    margin: 70px 0;
    justify-content: space-between;
    &__left {
      width: 500px;
      max-width: 100%;

      h4 {
        font-size: 50px;
        line-height: 50px;
        margin-top: 0;
        margin-bottom: 30px;
      }
      button {
        position: relative;
        background-color: #cc7cf3;
        border: 0.1rem solid var(--whitecolor);
        height: 70px;
        width: 170px;
        max-width: 100%;
        z-index: 990;

        span {
          font-family: "Changa", sans-serif;
          color: var(--whitecolor);
          font-size: 15px;
          text-transform: uppercase;
        }
      }
    }

    &__right {
      ul {
        li {
          padding-left: 5px;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 18px;

          a {
            z-index: 7;
            background: transparent;
            transition: all 0.3s ease 0s;
            position: relative;
          }

          a::after {
            z-index: -6;
            content: "";
            position: absolute;
            height: 0%;
            width: 100%;
            bottom: -1px;
            left: 0px;
            opacity: 1;
            transition: all 0.3s ease 0s;
            background: linear-gradient(
              90deg,
              rgba(255, 187, 187, 1) 0%,
              rgba(255, 170, 170, 1) 35%,
              rgba(255, 255, 255, 1) 100%
            );
          }

          a:hover {
            color: #c879f4;
          }

          a:hover:after{
            height: 100%;
            width: 100%;
            opacity: 1;
          }

        }

        li::marker {
          content: "✽";
          color: rgba(255, 170, 170, 1);
        }
      }
    }
  }
}
