.headerMask {
  background: #ffdada;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 0%;
  transition: width 0.7s ease;
  z-index: -1;
  height: 77px;
}

.headerScrollMask {
  background: #ffdada;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  transition: width 0.7s ease;
  z-index: -1;
  height: 77px;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px 0px;
}

.header {
  --textcolor: azure;
  display: block;
  width: 100%;
  padding: 0 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  margin-bottom: 20px;

  &__nav {
    display: block;
    width: 100%;

    &__section {
      display: flex;
      width: 100%;
      justify-content: space-between;

      &__logo {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        padding-bottom: 5px;

        img {
          width: 150px;
          height: auto;
          background-size: contain;
          background-repeat: no-repeat;
          background-color: transparent;
        }
      }

      &__links {
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
        align-items: center;

        &__link{
          font-size: 20px;
          color: var(--textcolor);
          text-transform: uppercase;
          padding: 0 22px;
          transition: all 0.3s ease 0s;

        }
        &__link2{
          font-size: 20px;
          color:#c879f4;
          text-transform: uppercase;
          padding: 0 22px;
          transition: all 0.3s ease 0s;

        }

        a:hover {
          background: rgb(255, 187, 187);
          background: linear-gradient(
            90deg,
            rgba(255, 187, 187, 1) 0%,
            rgba(255, 170, 170, 1) 35%,
            rgba(255, 255, 255, 1) 100%
          );
          color: #c879f4;
        }

        .divider {
          content: "";
          height: 40px;
          width: 7px;
          background: var(--textcolor);
        }
      }
    }
  }
}
