.feedback {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0 70px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: fit-content;
    align-items: center;
    margin: 100px 0;

    &__inputBlock {
      background: var(--whitecolor);
      padding: 30px 50px;
      border-radius: 10px;
      width: 700px;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      row-gap: 10px;

      &__envelope {
        img {
          width: 400px;
          height: auto;
        }

        animation: disappear 2000ms forwards;
      }

      h2 {
        display: block;
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
        color: var(--violetcolor);
        margin: 0;
      }

      &__form {
        width: 100%;

        &__name {
          width: 100%;
          background: var(--absolutewhitecolor);
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;

          &__anon {
            width: fit-content;
            display: flex;
            align-items: center;

            input {
              appearance: none;
              border-radius: 50%;
              width: 20px;
              height: 20px;
              border: 2px solid var(--violetcolor);
              transition: 0.2s all linear;
              margin-right: 5px;
              position: relative;
            }

            input:checked {
              border: 6px solid var(--violetcolor);
            }

            label {
              font-size: 14px;
            }
          }

          &__notanon {
            display: flex;
            width: fit-content;
            align-items: center;
            min-width: 350px;

            input[type="radio"] {
              appearance: none;
              border-radius: 50%;
              width: 20px;
              height: 20px;
              border: 2px solid var(--violetcolor);
              transition: 0.2s all linear;
              margin-right: 5px;
              position: relative;
            }

            input[type="radio"]:checked {
              border: 6px solid var(--violetcolor);
            }


            label {
              font-size: 14px;
              min-width: fit-content;
              margin-right: 3px;
            }

            input {
              border: 2px dashed var(--violetcolor);
              resize: none;
              font-size: 16px;
            }

            input::placeholder {
              color: var(--red);
            }

            input:focus {
              outline: none;
            }
          }
        }

        &__comment {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: 100%;
          height: fit-content;

          textarea {
            width: 100%;
            min-height: 250px;
            border: 2px dashed var(--violetcolor);
            resize: none;
            font-size: 16px;
            margin: 8px 0;
          }

          textarea::placeholder {
            color: var(--red);
          }

          textarea:focus {
            outline: none;
            height: auto;
          }

          button {
            position: relative;
            background-color: var(--violetcolor);
            border: 0.1rem solid var(--absolutewhitecolor);
            height: 70px;
            width: 170px;
            max-width: 100%;
            z-index: 990;

            span {
              font-family: "Changa", sans-serif;
              color: var(--absolutewhitecolor);
              font-size: 15px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 1300px) {
  .feedback {
    padding: 0 10px;

    &__wrapper {
      h2 {
        text-align: center;
      }

      &__inputBlock {
        width: 80%;
        padding: 30px 15px;

        &__envelope{
          margin: 0 auto;
          img{
            width: 200px;
          }
        }

        &__form {

          &__name {
            justify-content: center;

            &__notanon {
              min-width: fit-content;
              flex-wrap: wrap;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}