.footer {
  width: 100%;
  height: fit-content;
  background: var(--yellowcolor);

  &__wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;

    p {
      color: var(--blackcolor);
      z-index: 9;
      margin-right: 4px;
      font-size: small;
    }

    a {
      color: var(--blackcolor);
      z-index: 7;
      background: transparent;
      transition: all 0.3s ease 0s;
      position: relative;
    }

    a::after {
      z-index: -6;
      content: "";
      position: absolute;
      height: 0%;
      width: 100%;
      bottom: -1px;
      left: 0px;
      opacity: 1;
      transition: all 0.3s ease 0s;
      background: linear-gradient(
        90deg,
        var(--pinkgradientcolor) 0%,
        var(--brightpinkcolor) 35%,
        var(--absolutewhitecolor) 100%
      );
    }

    a:hover {
      color: var(--violetcolor);
    }

    a:hover:after {
      height: 100%;
      width: 100%;
      opacity: 1;
    }
  }
}
