.randomBtn{
    color: var(--whitecolor);
    background-color: var(--violetcolor);
    border: 0.1rem solid var(--whitecolor);
    height: 30px;
    width: 60px;
    max-width: 100%;
    margin-left: 5px;
    margin-top: 10px;
  }